<!--Header-->

<header class="flex-container client-portal-header">
    
    <!--Top Bar-->
            
    <div class="flex-container top-bar">
        <ul id="menu-top-left-header" class="menu">
            <li><a href="https://silverm.wpengine.com/">Facial Bar</a></li>
            <li class="shop-link"><a href="#">Shop</a></li>
        </ul>				
        
        <ul id="menu-top-right-header" class="menu">
            <li><a href="tel:888-677-0055">(888) 677-0055</a></li>
            
            <li class="menu-item-has-children">
                <a href="#">My Account</a>
                
                <ul class="xx-small sub-menu account-menu">
                    <li class="pill fill small">Hi, Tamara!</li>
                    <li><a href="#">Account Information</a></li>
                    <li><a href="#">Sign Out</a></li>
                </ul>
            </li>
        </ul>			
    </div>
            
    <!--Main Header-->
            
    <a class="logo" href="https://silverm.wpengine.com"><img src="/assets/svgs/logo.svg" alt="Silver Mirror Facial Bar"/></a>
                
    <button class="mobile-only mobile-menu">
        <span></span>
        <span></span>
        <span></span>
        <span class="accessibility">Toggle Menu</span>
    </button>
        
    <nav itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement" role="navigation">
        <button class="btn mobile-only" id="back-to-main-nav">Back<span class="icon"><svg class="svg-inline--fa fa-left-long" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M145.7 130C154.4 133.8 160.1 142.5 160.1 151.1l.0004 80h327.9c13.25 0 23.1 10.75 23.1 23.1s-10.75 24-23.1 24H160.1l-.0004 79.1c0 9.547-5.66 18.19-14.42 22c-8.754 3.811-18.95 2.077-25.94-4.407l-112.1-104c-10.23-9.5-10.23-25.69 0-35.19l112.1-104C126.7 127.9 136.9 126.2 145.7 130z"/></svg></span></button>
        
        <ul id="menu-main-header" class="menu">
            <li class="menu-item-has-children">
                <a href="https://silverm.wpengine.com/services/">Facials</a>
        
                <ul class="sub-menu">
                    <li><a href="https://silverm.wpengine.com/services/">Services</a></li>
                    <li><a href="https://silverm.wpengine.com/memberships/">Memberships</a></li>
                    <li><a href="https://silverm.wpengine.com/contact/">Contact Us</a></li>
                </ul>
            </li>
            
            <li><a href="https://silverm.wpengine.com/gift-certificates/">Gift Card</a></li>
            <li><a href="https://silverm.wpengine.com/locations">Locations</a></li>
            
            <li class="menu-item-has-children">
                <a href="https://silverm.wpengine.com/about-us/">Our Values</a>
                
                <ul class="sub-menu">
                    <li><a href="https://silverm.wpengine.com/about-us/">Our Story</a></li>
                    <li><a href="https://silverm.wpengine.com/about-us/giving-back/">Giving Back</a></li>
                    <li><a href="https://silverm.wpengine.com/blog/">Blog</a></li>
                    <li><a href="https://silverm.wpengine.com/about-us/faq/">FAQ</a></li>
                </ul>
            </li>
            
            <li class="header-btn"><a href="#">Book A Facial</a></li>
        </ul>	
    </nav>
</header>