<ul class="appointment-list">
	<li class="flex-container active">
		<!--Date-->
		
		<div class="date">
			<span class="mobile-only">{{appointment?.startAt | date:'EEEE':'EST'}},</span>
			<span class="ui-date month">{{appointment?.startAt | date:'MMMM':'EST'}} <!-- <span class="mobile-only">uary</span> --> </span>
			<span class="heading-5 day">{{appointment?.startAt | date:'d':'EST'}}</span>
			<span class="ui-date year">{{appointment?.startAt | date:'y':'EST'}}</span>
			<span class="pill fill small gray">@{{appointment?.startAt | date:'h:mm a':'EST'}}</span>
		</div>
		
		<!--Services-->
		
		<div class="services">
			<h3 class="pill">Services</h3>
			
			<ul class="x-small">
				<li class="service">{{appointment.appointmentServices[0]?.service?.name}}</li>
				<li *ngFor="let addon of appointment.appointmentServiceOptions" class="addon">{{addon?.name}} <span class="pill fill small">Add on</span></li>
			</ul>
		</div>
		
		<!--Details-->
		
		<div class="details">
			<h3 class="pill">Details</h3>
			
			<ul class="x-small">
				<li class="esthetician">{{appointment.appointmentServices[0]?.staff?.displayName}}</li>
				<li class="location">{{appointment?.location?.address?.city}} - {{appointment?.location?.name}}</li>
			</ul>
		</div>
		
		<!--Actions-->
		
		<div class="actions">
				<span *ngIf="!appointment?.reschedulable" class="pill rebook">Quick Rebook</span>
				<a *ngIf="!appointment?.reschedulable" class="btn black small" href="#">Search Availability</a>
				
				<span (click)="navigateToReschedule()"><a *ngIf="appointment?.reschedulable" class="btn black small reschedule">Reschedule</a></span>
				<span (click)="cancelAppointment()"><a class="text-link">Cancel</a></span>
		</div>
	</li>
</ul>