<app-header title="Book an Appointment"></app-header>

<section class="congrats">
	<div class="container">
		
		<h2 class="heading-3">Your face is in good hands. <span>(Or it will be shortly.) See you soon!</span></h2>
		
		<ul class="grid details">
		
			<!--Services Info-->
			
			<li>
				<h3 class="eyebrow small">Services</h3>
				
				<div class="cart-info">
					<ul class="small">
						<li *ngIf="cart?.selectedItems?.length">
							<ul class="small" *ngFor="let service of cart?.selectedItems | orderCartItems">
							<li class="flex-container">
								<span *ngIf="cart.guests" class="user">{{service.guest ? service?.guest?.label : 'Me'}} <span class="counter gray">{{service.selectedOptions?.length + 1}}</span></span>
							
								<span class="item-info">
									<strong>{{service.item.name}}</strong>
									<!-- <span *ngIf="sharedService.getServiceCategoryName(service, cart.availableCategories) != '' " class="pill">{{sharedService.getServiceCategoryName(service, cart.availableCategories)}}</span> -->
								</span>
								
								<span class="cost">
									{{sharedService.formatPrice(getServicePrice(service)) | currency:'USD':'symbol' : '1.0-0'}}
								</span>
				
							</li>
							<li class="flex-container add-on" *ngFor="let modifier of service.selectedOptions">
								<span class="item-info">
									<strong>{{modifier?.name}}</strong>
									<span class="pill fill small">Add On</span>
								</span>
								
								<span class="cost">
									{{sharedService.formatPrice(modifier.priceDelta) | currency:'USD':'symbol' : '1.0-0'}}
								</span>
							</li>
						</ul>
						</li>
					</ul>
					<!-- <ul class="small">
						<li class="flex-container" *ngFor="let apt of appointment?.appointmentServices">
							<span class="user">Me <span class="counter gray">{{getServicesCount()}}</span></span>
							<span>
								<strong>{{apt?.service?.name}}</strong>
							</span>
							
							<span class="cost">
								{{sharedService.formatPrice(getServicePrice()) | currency:'USD':'symbol' : '1.0-0'}}
							</span>
						</li>
					</ul> -->
					
					<div class="flex-container cart-total">
						<span class="eyebrow small">Total</span>
						<p class="small">{{sharedService.formatPrice(appointment?.appointmentServices[0]?.price) | currency:'USD':'symbol' : '1.0-0'}}</p>
					</div>
				</div>
			</li>
		
			<!--Details-->
		
			<li>
				<h3 class="eyebrow small">Details</h3>
				
				<div class="cart-info">
					<ul class="x-small cart-details">
						<li>{{appointment?.startAt | date:'EEEE, MMMM, d @ h:mm a':'EST'}}</li>
						<li>Esthetician: {{appointment?.appointmentServices[0]?.staff?.displayName}}</li>
						
						<li>
							{{appointment?.location?.address.city}} - {{appointment?.location?.name}}
							<address>{{appointment?.location?.address?.line1}}</address>
							<a *ngIf="appointment?.location?.phoneNumber" href="tel:{{appointment?.location?.phoneNumber}}">{{appointment?.location?.phoneNumber}}</a>
						</li>
					</ul>
					
					<ul class="actions" style="flex-direction: column;">
						<li (click)="toggleOptions = !toggleOptions" class="add-to-cal"><a class="btn small black">Add to Cal</a>
							<ul *ngIf="toggleOptions" class="add-to-cal-menu add-to-cal-pop">
								<li><a target="_blank" [href]="appointment?.calendarLinks?.googleCalendar">Google Calendar</a></li>
								<li><a target="_blank" [href]="appointment?.calendarLinks?.icsDownload">ics Download</a></li>
								<li><a target="_blank" [href]="appointment?.calendarLinks?.microsoftOffice">Microsoft Office</a></li>
								<li><a target="_blank" [href]="appointment?.calendarLinks?.microsoftOutlook">Microsoft Outlook</a></li>
								<li><a target="_blank" [href]="appointment?.calendarLinks?.yahooCalendar">Yahoo Calendar</a></li>
							</ul>
						
						</li>
						<li (click)="toggleShareOptions = !toggleShareOptions" class="add-to-cal"><a class="btn small black">Share</a>
							<ul *ngIf="toggleShareOptions" class="add-to-cal-menu add-to-cal-pop">
								<li (click)="shareOnFacebook()"><a>Facebook</a></li>
								<li (click)="shareOnTwitter()"><a>Twitter</a></li>
								<li (click)="shareViaEmail()"><a>Email</a></li>
							</ul>
						
						</li>
						<!-- <li><a class="btn small black" href="#">Share</a></li> -->
					</ul>
				</div>
			</li>
		</ul>

		<div class="flex-container">
			<div class="book-view">
				<button class="btn black" routerLink="/booking">Book An Appointment</button>
				<button *ngIf="authUser" class="btn black" routerLink="/dashboard">View My Appointments</button>
			</div>
		</div>
		
		<!--CTAs-->
		
		<ul class="grid ctas">
			<li>
				<h3 class="heading-6 small">
					<span class="eyebrow small">Refer a Friend</span>
					Start spreading the news and receive credit toward a service.
				</h3>
				
				<a class="btn-primary" href="#">Refer a friend</a>
			</li>
			
			<li>
				<h3 class="heading-6 small">
					<span class="eyebrow small">ASK AIDA</span>
					Tell us your skincare dreams and we'll show you where to glow.
				</h3>
				
				<a class="btn-primary" href="#">Take the quiz</a>
			</li>

			<li>
				<h3 class="heading-6 small">
					<span class="eyebrow small">Skin School</span>
					Learn about pre-facial etiquette, scalpel skincare, and how to spot cellular stress.
				</h3>
				
				<a class="btn-primary" href="#">Learn More</a>
			</li>
		</ul>
		
	</div>
</section>
<app-footer></app-footer>