<div class="date-slots">
    <div class="week-chooser">
        <button class="arrow last-week" (click)="previousMonth()"><span class="accessibility">Last Week</span></button>
        <span class="eyebrow small">{{currentMonth.format('MMMM YYYY')}}</span>
        <button class="arrow next-week" (click)="nextMonth()"><span class="accessibility">Next Week</span></button>
        
        <button class="show-calendar" (click)="toggleCalendarView()"><span>{{showFullCalendar ? 'Hide' : 'Show'}} Calendar</span></button>
        
        <!--Calendar Popup-->
      
    </div>
    
    <!--Days of the Week-->    
    <div class="week-container">
        <fieldset class="flex-container" *ngFor="let week of calendar | toggleCalendar:showFullCalendar:selectedWeek">
            <div class="flex-container" style="margin-bottom:16px;" *ngFor="let day of week">
                <input [id]="day.date" [disabled]="!day.isCurrentMonth || day.isDisabled" [checked]="day.isToday" class="accessibility" name="weekday" type="radio"/>
                <label [for]="day.date" class="heading-6">
                    <span class="pill">{{day.day}}</span> {{day?.date}}
                </label>
            </div>
            
            <!-- <input id="monday" disabled class="accessibility" name="weekday" type="radio"/>
            <label for="monday" class="heading-6">
                <span class="pill">Mon</span> 20
            </label>
            
            <input id="tuesday" disabled class="accessibility" name="weekday" type="radio"/>
            <label for="tuesday" class="heading-6">
                <span class="pill">Tue</span> 21
            </label>
            
            <input id="wednesday" class="accessibility" name="weekday" type="radio"/>
            <label for="wednesday" class="heading-6">
                <span class="pill">Wed</span> 22
            </label>
            
            <input id="thursday" class="accessibility" name="weekday" type="radio"/>
            <label for="thursday" class="heading-6">
                <span class="pill">Thu</span> 23
            </label>
            
            <input id="friday" class="accessibility" name="weekday" type="radio"/>
            <label for="friday" class="heading-6">
                <span class="pill">Fri</span> 24
            </label>
            
            <input id="saturday" class="accessibility" name="weekday" type="radio"/>
            <label for="saturday" class="heading-6">
                <span class="pill">Sat</span> 25
            </label> -->
        </fieldset>
    </div>
</div>