<app-header title="Book an Appointment"></app-header>


<main id="main">

<section class="whos-coming">
	<div class="container grid">
		
		<!--Breadcrumbs-->
        <app-breadcrumbs class="breadcrumbs-container"></app-breadcrumbs>
		
		<h2 class="heading-4">Who should we expect?</h2>
		
		<ul class="grid">
			<li>
				<button [ngClass]="statusMe ? 'active' : ''" class="eyebrow" (click)="whosComingMe('me')">Just Me</button>
			</li>
			
			<li>
				<button [ngClass]="statusMeandGuest ? 'active' : ''" class="eyebrow" (click)="whosComingMe('meandGuest')">Me &amp; Guests</button>
			</li>
		</ul>
		<div class="guest-counter">
			<div *ngIf="statusMeandGuestDropdown">
			<label class="pill" for="guest-count">How Many Guests?</label>
			<select id="guest-count" (change)="guestChange(noOfguestSelected.value)" #noOfguestSelected>
				<option [value]="1" [selected]="noOfguest =='1'">1 Guest</option>
				<option [value]="2" [selected]="noOfguest =='2'">2 Guests</option>
				<option [value]="3" [selected]="noOfguest =='3'">3 Guests</option>
			</select>
		</div>
			<input  type="submit" class="btn" value="Continue" *ngIf="btnStatus" (click)="gotoServices()">
			<input  type="submit" class="btn" value="Continue" *ngIf="!btnStatus" disabled>
		</div>
		
	</div>
</section>
</main>
<app-footer></app-footer>