<app-header></app-header>


<main id="main">

<section class="whos-coming">
	<div class="container grid">
		
		<!--Breadcrumbs-->
        <div class="breadcrumbs-container">

            <a class="back-btn" href="#"><span class="accessibility">Back</span></a>
        
            <ul class="flex-container breadcrumbs">
                <li class="completed"><a class="eyebrow small" href="#">Location</a></li>
                <li class="completed"><a class="eyebrow small" href="#">Who's Coming</a></li>
                <li class="completed"><a class="eyebrow small" href="#">Services</a></li>
                <li class="active"><a class="eyebrow small" href="#">Scheduling</a></li>
                <li><a class="eyebrow small" href="#">Review</a></li>
            </ul>
        </div>
		
		<h2 class="heading-4">Who should we expect?</h2>
		
		<ul class="grid">
			<li>
				<button class="eyebrow">Just Me</button>
			</li>
			
			<li>
				<button class="eyebrow">Me &amp; Guests</button>
			</li>
		</ul>
		
	</div>
</section>
</main>