<div class="popup-screen"></div>

<div class="popup addon-pop">
	<button class="close" (click)="addonModalRef.close()"><span class="accessibility">Close Popup</span></button>
	
	<div class="scroller">
		<h2 class="heading-5">Targeted add-ons for a truly custom facial.</h2>
		<span *ngFor="let addon of selectedItem[0]?.addons">
			<h3><span>{{addon?.name}}</span></h3>
		
			<ul class="grid">
				<li *ngFor="let modifier of addon.optionGroups[0].options">
					<button>
						<h4>
							{{modifier?.name}}
							<span class="pill small fill yellow">Best Seller</span>
							<span class="price">{{sharedService.formatPrice(modifier?.priceDelta) | currency:'USD':'symbol' : '1.0-0'}}</span>
						</h4>
						
						<p class="xx-small">{{modifier.toggleDescription ? modifier?.description : modifier?.description | slice:0:75}} <a (click)="modifier.toggleDescription = !modifier.toggleDescription">Learn more</a>.</p>
					</button>
				</li>
			</ul>
		</span>
		
	</div>
	
	<div class="fixed-info">
		<button class="btn black">Add To Cart <span class="counter">1</span></button>
		<a (click)="addonModalRef.close()">No thanks, I’m not interested in add-ons</a>
	</div>
</div>