<app-header></app-header>

<!--Main Content-->
		
    <main id="main">

        <section class="login">
            <div class="container flex-container">
        
                <article class="grid">
        
                    <span class="login-sparkles"></span>
        
                    <h1 class="heading-4">Login or Create an Account</h1>
        
                    <form action="" class="login-form">
                        <input type="email" id="email" name="email" placeholder="Email Address">
                        <input disabled class="btn" type="submit" value="Continue">
                    </form>
                </article>
        
                <div class="grid">
                    <p class="xx-small">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="#">privacy policy</a>.</p>
                </div>
        
            </div>
        </section>

    </main>

    <app-footer></app-footer>