<app-header></app-header>

<!--Main Content-->
		
    <main id="main">

        <section class="login">
            <div class="container flex-container">
        
                <article class="grid">
        
                    <span class="login-sparkles"></span>
        
                    <h1 class="heading-4">Login or Create an Account</h1>
        
                    <div class="login-form" *ngIf='silverService.otp==0'>
                        <input type="email" id="email" name="email" placeholder="Email Address" [(ngModel)]="email">
                        <input  class="btn" type="submit" value="Continue" (click)="generateOTP()">
                       OTP: {{silverService.otp}}<br>
                       Loginstatus:{{loginStatus}}
                     <!--  {{silverService.locationList$|async}} -->
                    </div>
                    <div class="login-form" *ngIf='silverService.otp>0'>
                        <input type="text" id="email" name="otp" placeholder="Enter OTP" [(ngModel)]="enteredotp">
                       
                        <input  class="btn" type="submit" value="Continue" (click)="checkOTP()">
                       OTP: {{silverService.otp}}<br>
                       Loginstatus:{{loginStatus}}
                    </div>
                </article>
        
                <div class="grid">
                    <p class="xx-small">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="#">privacy policy</a>.</p>
                </div>
        
            </div>
        </section>

    </main>
