<!--Skip to main content-->
<a class="accessibility" href="#main">Skip To Content</a>	
<!--Header-->
<header class="flex-container">
    <a class="logo" routerLink="/booking"><img src="/assets/svgs/logo.svg" alt="Book an appointment with Silver Mirror Facial Bar"/></a>
    <h1 [routerLink]=" title == 'Book an Appointment' ? '/booking' : null" class="heading-6 small">{{title}}</h1>
    <div class="user-pop-outer">
        <a href="tel:(888) 677-0055">(888) 677-0055</a>
        <a *ngIf="!user && router.url !='/booking/review' && router.url !='/booking/schedule'" class="data-ui sign-in" routerLink="/auth"><span><svg width="8px" height="8px" viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-1328.000000, -36.000000)" fill="#000000" fill-rule="nonzero">
                    <g transform="translate(1321.000000, 29.000000)">
                        <g transform="translate(7.500000, 7.000000)">
                            <path d="M3.5,4 C4.60468769,4 5.5,3.10453129 5.5,2 C5.5,0.895468712 4.60468769,0 3.5,0 C2.39531255,0 1.5,0.895468712 1.5,2 C1.5,3.10453129 2.39531255,4 3.5,4 Z M4.29218769,4.75 L2.70781255,4.75 C1.21265626,4.75 0,5.9625001 0,7.45781231 C0,7.75687504 0.242500067,7.99953147 0.541562557,7.99953147 L6.45875025,7.99953147 C6.7578125,8 7,7.7578125 7,7.45781231 C7,5.9625001 5.7874999,4.75 4.29218769,4.75 Z"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </span>{{ user ? 'Sign Out':'Sign In'}}</a>
        <a *ngIf="user" class="data-ui sign-in" (mouseenter) ="visible = true"  (click)="onclick()" href="javascript:void(0)"><span><svg width="8px" height="8px" viewBox="0 0 8 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-1328.000000, -36.000000)" fill="#000000" fill-rule="nonzero">
                    <g transform="translate(1321.000000, 29.000000)">
                        <g transform="translate(7.500000, 7.000000)">
                            <path d="M3.5,4 C4.60468769,4 5.5,3.10453129 5.5,2 C5.5,0.895468712 4.60468769,0 3.5,0 C2.39531255,0 1.5,0.895468712 1.5,2 C1.5,3.10453129 2.39531255,4 3.5,4 Z M4.29218769,4.75 L2.70781255,4.75 C1.21265626,4.75 0,5.9625001 0,7.45781231 C0,7.75687504 0.242500067,7.99953147 0.541562557,7.99953147 L6.45875025,7.99953147 C6.7578125,8 7,7.7578125 7,7.45781231 C7,5.9625001 5.7874999,4.75 4.29218769,4.75 Z"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg></span>{{user ? user.firstName : 'Sign In'}}</a>

        <ul class="loggedin-menu user-pop" *ngIf="visible && user">
            <li routerLink="/dashboard">Client Portal</li>
            <li routerLink="/booking">Book a Facial</li>
            <li (click)="logout()">Sign Out</li>
        </ul>
    </div>
        
    

</header>

	