<div class="popup-screen"></div>

<div class="popup addon-pop">

	<button class="close" (click)="confirmationModalRef.close()"><span class="accessibility">Close Popup</span></button>

	<div class="scroller addon-suggest">
		<h2 class="heading-6" style="text-align:center">{{message}}</h2>
	</div>

	<div class="fixed-info appointment-cancel">
		<button class="btn black" (click)="continue()">Yes, Cancel</button>
		<button class="btn black outline" (click)="close()">Close</button>
		<!-- <a class="#" (click)="close()">Cancel</a> -->
	</div>
</div>