<div class="cart-info">

    <button class="close-cart mobile-only"><span class="accessibility">Close Cart</span></button>
    <h2 class="eyebrow small flex-container"><span>Cart</span> <span>{{silverService.cartDetails$.value.length}} Service Added</span>
    </h2>

    <ul class="small">
        <li class="flex-container" *ngFor="let service of silverService.cartDetails$ | async ">
            <span style="width: 100%;" *ngIf="!service.guestId">
                <span class="flex-container" *ngIf="service.selectedOptions.length==0">
                    <span class="user">Me <span class="counter gray">1</span></span>

                    <span>
                        <strong>{{service.item.name}}</strong>

                        <span class="pill">30-min</span>
                    </span>

                    <span class="cost">
                        ${{service.price/100 | number }}
                        <button (click)="silverService.removeItemFromCart(service.id)" class="remove-service">
                            <span class="accessibility">Remove Service</span></button>
                    </span>
                </span>
                <span *ngIf="service.selectedOptions.length>0">
        <li class="flex-container add-on" *ngFor="let addon of service.selectedOptions ">
            <span>
                <strong>{{addon.name}}</strong>
                <span class="pill fill small">Add On</span>
            </span>

            <span class="cost">
                ${{addon.priceDelta/100 | number }}
                <button class="remove-service"><span class="accessibility">Remove Service</span></button>
            </span>
        </li>
        </span>

        </span>


        <span *ngIf="service.guestId">
            <span class="user empty-cart-guest">Guest 1 <span class="counter gray">1</span></span>


            <span>
                <strong>{{service.item.name}}</strong>
                <span class="pill">30-min</span>
            </span>

            <span class="cost">
                ${{service.price/100 | number }}
                <button (click)="silverService.removeItemFromCart(service.id)" class="remove-service"><span
                        class="accessibility">Remove Service</span></button>
            </span>
        </span>
        </li>
        <div class="flex-container cart-total">
            <span class="eyebrow small">Total</span>
            <p class="small">${{silverService.cartSummary$.value.subtotal/100 | number }}</p>
        </div>

        <li class="flex-container">
            <span class="pill location">Location</span>
            <span *ngIf="silverService.location$ | async as location">
                <strong>{{location.address.city}} - {{location.name}}</strong>
                <address>{{location.address.line1}}</address>
                <a href="tel:{{location.phoneNumber}}">{{location.phoneNumber}}</a>
            </span>

            <span class="cost">
                <button class="edit-location" routerLink="javascript:void();"><span class="accessibility">Edit
                        Location</span></button>
            </span>
        </li>
    </ul>

</div>

<a class="btn inactive" href="#">Add to Continue</a>

<button class="btn black view-cart mobile-only">View Cart<span class="item-count">{{silverService.cartDetails$.value.length}}</span></button>