<app-header></app-header>

<main>
    <section class="location-flow">
        <div class="container grid">

            <div class="breadcrumbs-container">

                <a class="back-btn" href="#"><span class="accessibility">Back</span></a>
            
                <ul class="flex-container breadcrumbs">
                    <li class="completed"><a class="eyebrow small" href="#">Location</a></li>
                    <li class="completed"><a class="eyebrow small" href="#">Who's Coming</a></li>
                    <li class="completed"><a class="eyebrow small" href="#">Services</a></li>
                    <li class="active"><a class="eyebrow small" href="#">Scheduling</a></li>
                    <li><a class="eyebrow small" href="#">Review</a></li>
                </ul>
            </div>


            <div class="flex-container quick-rebook">
                <h2 class="heading-6 desktop-only">Quick Rebook</h2>
                <button class="mobile-only quick-rebook-accordion-btn eyebrow">Quick Rebook</button>
                
                <ul class="flex-container x-small">
                    <li class="service">Party-Prep Facial</li>
                    <li class="esthetician">Esthetician: Veronica G.</li>
                    <li class="add-on">Dermaplanning <span class="pill fill small">Add On</span></li>
                    <li class="location">NYC - Flatiron</li>
                </ul>
                
                <button class="btn black">Search Availability</button>
            </div>

    <h2 class="eyebrow">Select Your Location</h2>

    <ul class="accordions">
        
        <li *ngFor="let location of silverService.locationList$ | async let i = index;" 
        (click)='this.silverService.selectLocation(location.node.id)'>
            <h3>
               <!--  <button class="flex-container heading-6">
                    app
                    <span>
                        
                      Vinay Sir
                    </span>
                </button> -->
                <button class="flex-container heading-6 accordion" (click) = "expand(i)">{{location.node.address.city}}</button>
                    <div class="panel"
                        [ngClass]="{ 'visible' : currentIndex === i }">
                        <p>{{location.node.id}}</p>
                    </div>
            </h3>
            <article></article>
        </li>
    </ul>
</div>
</section>
</main>
