<app-alert [message]="greeting"></app-alert>
<app-header title="Book an Appointment"></app-header>

<main>
    <section class="location-flow">
        <div class="container grid">

            <app-breadcrumbs class="breadcrumbs-container"></app-breadcrumbs>


            <div *ngIf="(silverService.loginStatus | async)=='true'" class="flex-container quick-rebook">
                <h2 class="heading-6 desktop-only">Quick Rebook</h2>
                <button class="mobile-only quick-rebook-accordion-btn eyebrow">Quick Rebook</button>
                
                <ul class="flex-container x-small">
                    <li class="service">Party-Prep Facial</li>
                    <li class="esthetician">Esthetician: Veronica G.</li>
                    <li class="add-on">Dermaplanning <span class="pill fill small">Add On</span></li>
                    <li class="location">NYC - Flatiron</li>
                </ul>
                
                <button class="btn black">Search Availability</button>
            </div>

    <h2 class="eyebrow">Select Your Location</h2>
   <!-- <ngx-skeleton-loader
    count="5"
    [theme]="{ 
      'border-radius': '5px',
      height: '50px',
      'background-color': '#992929',
      border: '1px solid white'
    }"
  ></ngx-skeleton-loader>-->

    <ul class="accordions">
        
        <li *ngFor="let location of silverService.locationList$ | async | locationGroup :'city' let i = index;" 
         [ngClass]="{ 'active' : currentIndex === i }">
            <h3>

                <button class="flex-container heading-6 accordion" (click) = "expand(i)">{{location.key}}
                    <span>
                        <svg class="icon-accordion-open" width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g transform="translate(-14.000000, -14.000000)" fill="#000000" fill-rule="nonzero">
                                    <g transform="translate(14.221935, 14.220650)">
                                        <path d="M13.1171807,13.1177869 C12.9022342,13.3327334 12.5544622,13.3327334 12.3392743,13.1177869 L7.77874366,8.55622501 L3.21718126,13.1177869 C3.00223418,13.3327334 2.65446215,13.3327334 2.43927484,13.1177869 C2.22432776,12.9028403 2.22432776,12.5550683 2.43927484,12.3398805 L7.00186845,7.77934981 L2.43996249,3.21778689 C2.22501541,3.00284033 2.22501541,2.6550683 2.43996249,2.43988152 C2.65490957,2.22493391 3.0026816,2.22493391 3.21786891,2.43988152 L7.77874366,7.0024746 L12.3403066,2.44091272 C12.5552531,2.22596512 12.9030252,2.22596512 13.118213,2.44091272 C13.3331595,2.65585928 13.3331595,3.00363131 13.118213,3.21881809 L8.55561887,7.77934981 L13.1171807,12.3409127 C13.3337439,12.5540371 13.3337439,12.9046625 13.1171807,13.1177869 Z" transform="translate(7.778834, 7.778834) rotate(45.000000) translate(-7.778834, -7.778834) "></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <svg class="icon-accordion-close" width="16px" height="2px" viewBox="0 0 16 2" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g transform="translate(-1082.000000, -476.000000)" fill="#000000" fill-rule="nonzero">
                                    <g transform="translate(328.000000, 455.000000)">
                                        <g transform="translate(740.000000, 0.000000)">
                                            <g transform="translate(14.221935, 14.221379)">
                                                <path d="M3.21684306,13.116843 C3.00189598,13.3317895 2.65412395,13.3317895 2.43893664,13.116843 C2.22398956,12.9018964 2.22398956,12.5541244 2.43893664,12.3389366 L12.3399684,2.43996883 C12.5549149,2.22502123 12.902687,2.22502123 13.1178748,2.43996883 C13.3328213,2.65491539 13.3328213,3.00268742 13.1178748,3.2178742 L3.21684306,13.116843 Z" transform="translate(7.778406, 7.778406) rotate(45.000000) translate(-7.778406, -7.778406) "></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                      </span>
                </button>
                    
            </h3>
            <div class="panel" [ngClass]="{ 'visible' : currentIndex === i }">
                <ul class="content">
                
                    <li [ngClass]="locationSelected(loc.id)" class="flex-container" *ngFor="let loc of location.value">
                        <h4>
                            <strong>{{loc.name}}</strong>
                            <span>{{loc.address.line1}}</span>
                        </h4>
                        <a (click)='this.silverService.selectLocation(loc.id)' class="btn black small" href="javascript:void(0)">Book Now</a>                 
                    </li> 
                </ul>
            </div>

        </li>
    </ul>
</div>
</section>
</main>
<app-footer></app-footer>