<app-header></app-header>

<section class="review-flow">
	<form class="container grid">
		
		<!--Breadcrumbs-->
        <app-breadcrumbs class="breadcrumbs-container"></app-breadcrumbs>

		<div class="content-container">
			
			<!--Credit Card-->
			
			<h2 class="heading-6">Payment Details</h2>
			<p class="xx-small">Have an account? <a class="text-link" href="#">Login or create an account</a></p>
			
			<ul class="flex-container credit-card-details">
				<li>
					<label class="pill" for="card-details">Card Details</label>
					<input type="text" id="card-details" placeholder="Card Number"/>
				</li>

				<li class="mobile-only">
					<p class="xx-small info">Your credit card is only used to hold the reservation and won't be charged unless you cancel late or don't show up.</p>
				</li>
				
				<li>
					<label class="pill" for="card-exp">Expiration Date</label>
					<input type="text" id="card-exp" placeholder="MM/YY"/>
				</li>
				
				<li>
					<label class="pill" for="card-cvv">CVV</label>
					<input type="text" id="card-cvv" placeholder="***"/>
				</li>
			</ul>
			
			<p class="xx-small info">Your credit card is only used to hold the reservation and won't be charged unless you cancel late or don't show up.</p>
			
			<!--Additional Fields-->
			<h2 class="heading-6">Additional Information</h2>

<ul class="grid additional-info">
	<li>
		<label class="pill" for="first-name">First Name</label>
		<input type="text" id="first-name" placeholder="First Name"/>
	</li>
	
	<li>
		<label class="pill" for="last-name">Last Name</label>
		<input type="text" id="last-name" placeholder="Last Name"/>
	</li>
	
	<li>
		<label class="pill" for="phone">Phone Number</label>
		<input type="tel" id="phone" placeholder="(555) 555-5555"/>
	</li>
	
	<li>
		<label class="pill" for="email">Email Address</label>
		<input type="email" id="email" placeholder="email@address.com"/>
	</li>
	
	<li>
		<label class="pill" for="notes">Notes</label>
		<p class="xx-small">Preferences? Celebrations? Secrets you want to share? Let us know.</p>
		<input type="text" id="notes" placeholder="Write any notes for us"/>
	</li>
</ul>

<div class="mobile-only flex-container promo-code">
	<label class="pill" for="promo-code">Promo Code</label>
	<input type="text" id="promo-code" placeholder="Enter Code"/>
	<button class="text-link large">Apply</button>
</div>

<h3>Disclaimer</h3>
<p class="xx-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie. Mauris malesuada nisi sit amet augue accumsan tincidunt. Maecenas tincidunt, velit ac porttitor pulvinar, tortor eros facilisis libero, vitae commodo nunc quam et ligula. Ut nec ipsum sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer id nisi nec nulla luctus lacinia non eu turpis. Etiam in ex imperdiet justo tincidunt egestas. Ut porttitor urna ac augue cursus tincidunt sit amet sed orci.</p>
			
		</div>
		
		<!--Sidebar-->
		<aside>
            <button class="mobile-only cart-summary flex-container">
                <span class="eyebrow small">Summary</span>
                <span class="cost">$255</span>
            </button>
        
            <div class="cart-info">
                <h2 class="eyebrow small flex-container desktop-only">Cart <span>3 Services Added</span></h2>
                
                <ul class="small">
                    <li class="flex-container">
                        <span class="user">Me <span class="counter gray">2</span></span>
                        <span>
                            <strong>Party-Prep Facial</strong>
                            <span class="pill">30-min</span>
                        </span>
                        
                        <span class="cost">$85</span>
                    </li>
                    
                    <li class="flex-container add-on">
                        <span>
                            <strong>Dermaplanning</strong>
                            <span class="pill fill small">Add On</span>
                        </span>
                        
                        <span class="cost">$85</span>
                    </li>
                    
                    <li class="flex-container">
                        <span class="user">Guest 1 <span class="counter gray">1</span></span>
                        <span>
                            <strong>Just For Men Facial</strong>
                            <span class="pill">60-min</span>
                        </span>
                        
                        <span class="cost">$185</span>
                    </li>
                </ul>
                
                <div class="flex-container cart-total">
                    <span class="eyebrow small">Total</span>
                    <p class="small">$255</p>
                </div>
                
                <ul class="xx-small cart-details">
                    <li>Sunday, September 18 @ 4:15 PM</li>
                    <li>Esthetician: Veronica G.</li>
                    <li>NYC - Flatiron</li>
                </ul>
            </div>
            
            <div class="desktop-only flex-container promo-code">
                <label class="pill small" for="promo-code">Promo Code</label>
                <input type="text" id="promo-code" placeholder="Enter Code"/>
                <button class="text-link large">Apply</button>
            </div>
            
            <a class="btn black" href="#">Book Now</a>
        </aside>
		
	</form>
</section>
<app-footer></app-footer>