<ul class="services-list">
	<li *ngFor="let addonItem of cart?.selectedItems | addons:client" [ngClass]="addonItem.selected ? 'active' : ''">
		<button class="add-to-cart desktop-only" (click)="addModifier(addonItem)">
            <img [src]="addonItem.selected ? 'assets/svgs/icon-selected-check.svg' : 'assets/svgs/icon-accordion-open.svg' " />
			<!-- <?php 
				include('svgs/icon-accordion-open.svg');
				include('svgs/icon-selected-check.svg');
			?> -->
					
			<span class="accessibility">Add this addon to your cart</span>
		</button>
			
		<button class="flex-container open-services-pop">
			<img style="background: #484848; object-fit: none;" src="assets/svgs/icon-service-example.svg" alt=""/>
			
			<div>
				<h2 class="heading-6">{{addonItem?.name}}</h2>
				<span class="pill fill small yellow">Best Seller</span>
				<p class="pill">All Types</p>
				<span class="heading-6 small price">{{sharedService.formatPrice(addonItem?.priceDelta) | currency:'USD':'symbol' : '1.0-0'}}</span>
			</div>
			
			
		</button>
	</li>
</ul>