<app-header title="Book an Appointmemt"></app-header>
<main id="main">
<section class="schedule-flow">
	<div class="container grid">
        <!--Breadcrumbs-->
        <app-breadcrumbs class="breadcrumbs-container"></app-breadcrumbs>

        <div class="content-container">



            <ul class="schedule-filters">
	
                <!--Location-->
                
                <!-- <li class="location-filte"> -->
                    <!-- <button class="filter-button">Location <span class="counter">1</span></button> -->
                    
                    <!-- <div class="filter-pop">
                        <h3 class="flex-container eyebrow small">
                            <span class="mobile-only">Filter </span>Location 
                            <button class="close-filter"><span class="accessibility">Close filter</span></button>
                        </h3>
                        
                        <ul class="tabs">
                            <li><button class="pill active">NYC</button></li>
                            <li><button class="pill">Miami</button></li>
                            <li><button class="pill">DC</button></li>
                        </ul>
                        
                        <ul class="x-small">
                            <li>
                                <input checked name="location" id="location-flatiron" type="radio"/>
                                <label for="location-flatiron"><strong>Flatiron</strong> | 20 West 22nd Street</label>
                            </li>
                            
                            <li>
                                <input name="location" id="location-upper-east" type="radio"/>
                                <label for="location-upper-east"><strong>Upper East Side</strong> | 862 Lexington Avenue</label>
                            </li>
                            
                            <li>
                                <input name="location" id="location-bryant" type="radio"/>
                                <label for="location-bryant"><strong>Bryant Park</strong> | 431 5th Avenue</label>
                            </li>
                            
                            <li>
                                <input name="location" id="location-man-west" type="radio"/>
                                <label for="location-man-west"><strong>Manhattan West</strong> | 431 5th Avenue</label>
                            </li>
                            
                            <li>
                                <input name="location" id="location-brooklyn" type="radio"/>
                                <label for="location-brooklyn"><strong>Brooklyn Heights</strong> | 703 6th Avenue</label>
                            </li>
                        </ul>
            
                        <button class="btn black submit-btn mobile-only">Apply</button>
                    </div> -->
                <!-- </li> -->
                
                <!--Time-->
                
                <li class="time-filter">
                    <button class="filter-button" (click)="toggleTimeFilter = !toggleTimeFilter; toggleStaffFilter = false">Time <span class="counter">0</span></button>
                    
                    <div class="filter-pop" [ngStyle]="{'display':toggleTimeFilter ? 'block' : 'none'}">
                        <h3 class="flex-container eyebrow small">
                            <span class="mobile-only">Filter </span>Time 
                            <button class="close-filter" (click)="toggleTimeFilter = !toggleTimeFilter"><span class="accessibility">Close filter</span></button>
                      
                        </h3>
                        
                        <div class="range-slider" *ngIf="toggleTimeFilter">
                            <ngx-slider (userChangeEnd)="changeTimeRange($event)" [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
                            <!--Note: input[type=range] did would not work here, so assuming this'll be 100% JS controlled-->
                            
                            <!-- <span class="range-bar">
                                <span class="progress"></span>
                            </span>
                            
                            <span class="time active start-time">9AM</span>
                            <span class="time mid-time">12PM</span>
                            <span class="time active chosen-end-time">5PM</span>
                            <span class="time end-time">8PM</span> -->
            
                            <button class="text-link clear-time-range mobile-only" (click)="clearTimeFilter()">Clear</button>
                        </div>
            
                        <button class="btn black submit-btn mobile-only" (click)="closeMobileFilter()">Apply</button>
                    </div>
                </li>
                
                <!--Esthetician-->
                
                <li class="esthetician-filter">
                    <button class="filter-button" (click)="toggleStaffFilter = !toggleStaffFilter; toggleTimeFilter = false">Esthetician <span class="counter">0</span></button>
                    
                    <div class="filter-pop" [ngStyle]="{'display':toggleStaffFilter ? 'block' : 'none'}">
                        <h3 class="flex-container eyebrow small">
                            <span class="mobile-only">Filter </span>Esthetician 
                            <button class="close-filter" (click)="toggleStaffFilter = !toggleStaffFilter"><span class="accessibility">Close filter</span></button>
                        </h3>
                        
                        <ul class="grid">
                            <li *ngFor="let staff of staffVarients | async">
                                <input [checked]="!staff.filter" (change)="filterStaff(staff)" [id]="'flt'+staff?.id" class="accessibility" type="checkbox"/>
                                <label [for]="'flt'+staff?.id">{{staff?.staff?.displayName}}</label>
                            </li>
                            
                            <!-- <li>
                                <input id="filter-nick" class="accessibility" type="checkbox"/>
                                <label for="filter-nick">Nick W.</label>
                            </li>
                            
                            <li>
                                <input id="filter-kerry" class="accessibility" type="checkbox"/>
                                <label for="filter-kerry">Kerry R.</label>
                            </li>
                            
                            <li>
                                <input disabled id="filter-joanne" class="accessibility" type="checkbox"/>
                                <label for="filter-joanne">Joanne N.</label>
                            </li>
                            
                            <li>
                                <input id="filter-connie" class="accessibility" type="checkbox"/>
                                <label for="filter-connie">Connie W.</label>
                            </li>
                            
                            <li>
                                <input checked id="filter-joseph" class="accessibility" type="checkbox"/>
                                <label for="filter-joseph">Joseph S.</label>
                            </li>
                            
                            <li>
                                <input disabled id="filter-sam" class="accessibility" type="checkbox"/>
                                <label for="filter-sam">Samantha J.</label>
                            </li>
                            
                            <li>
                                <input id="filter-megan" class="accessibility" type="checkbox"/>
                                <label for="filter-megan">Megan V.</label>
                            </li> -->
                        </ul>
                        
                        <button class="text-link clear-selections" (click)="clearStaffFilter()">Clear</button>
            
                        <button class="btn black submit-btn mobile-only" (click)="closeMobileFilter()">Apply</button>
                    </div>
                </li>
            </ul>


            <!-- <ul class="guest-tabs">
               
                <li class="active" *ngFor="let guest of silverService.selectedTabWithServices | keyvalue index as i">
                    <button class="pill">{{guest.key}} </button></li>
               
                
            </ul> -->

            <p *ngIf="!availableTimes.value?.length" class="xx-small info">Please select an appointment date.</p>
            <app-calendar [selectedDate]="selectedDate" [availableDates] = "availableDates | async" (changeMonthEvent)="monthChange($event)" (dateSelectEvent)="selectDate($event)"></app-calendar>


            <div class="time-slots">
    
                <div class="time-slot-container" *ngIf="(availableTimes | async).length">
                    <h2 class="heading-6 small">Available Time</h2>
                    <p style="position: sticky; left:0;" *ngIf="!staffVarients.value?.length" class="xx-small info">Please select an appointment time.</p>
                    <fieldset class="flex-container">
                        <span style="display: flex;" *ngFor="let time of availableTimes | async | timeFilter:{min:minValue, max:maxValue}">
                            <input (change)="selectTime(time)" [id]="time?.id" [checked]="time.selected" class="accessibility" name="time-chooser" type="radio"/>
                            <label [for]="time?.id">{{time?.startTime | date:'hh:mm a':'EST'}}</label>
                        </span>
                    </fieldset>
                </div>
            </div>



            <div class="time-slots available-staff">

                <div class="time-slot-container" *ngIf="(staffVarients | async).length">
                    <h2 class="heading-6 small">Available Esthetician</h2>
                    
                    <fieldset class="flex-container">
                        <span style="display: flex;" *ngFor="let staff of staffVarients | async">
                            <input *ngIf="!staff.filter" (change)="selectStaff(staff)" [id]="staff?.id" [checked]="staff.selected" class="accessibility" name="staff-chooser" type="radio"/>
                            <label *ngIf="!staff.filter" [for]="staff?.id">{{staff?.staff?.displayName}}</label>
                        </span>
                    </fieldset>
                </div>
            </div>








            </div>


            <aside [ngClass] = "!cart?.selectedItems?.length ? 'empty':'' ">
                <app-cart [cart]="cart" ></app-cart>
                <a class="btn" (click)="reserveCart()">Continue</a>
           </aside>




        </div>
        </section>
    </main>
    <app-footer></app-footer>