<!-- <section class="client-portal membership"> -->
	<!-- <div class="container grid"> -->
		
		<!--Content-->
		<!-- <div class="content"> -->
			<!-- <h1 class="heading-4">Welcome back, Tamara!</h1> -->
			
			<div class="empty-membership">
				<h3 class="heading-6">You don’t have a current membership.</h3>
				
				<ul class="grid">
					<li>
						<div class="membership-plan">
							<span class="pill fill blue">30-Minute Membership</span>
							<span class="heading-5">$76/month</span>
							<span class="price"><s>$95/month</s> $19 Savings</span>
							
							<ul class="xx-small">
								<li>One discounted facial per month</li>
								<li>10% off any additional facials</li>
							</ul>
						</div>
						
						<a class="btn black small" href="#">Add to Cart</a>
					</li>
					
					<li>
						<div class="membership-plan">
							<span class="pill fill blue">50-Minute Membership</span>
							<span class="heading-5">$116/month</span>
							<span class="price"><s>$145/month</s> $29 Savings</span>
							
							<ul class="xx-small">
								<li>One 50-minute Signature Facial per month</li>
								<li>Access to all membership perks.</li>
							</ul>
						</div>
						
						<a class="btn black small" href="#">Add to Cart</a>
					</li>
				</ul>
			</div>
			
		<!-- </div> -->
		
	<!-- </div> -->
<!-- </section> -->