<div class="cart-info">
    <button (click)="bookingService.mobileCartView = false" class="close-cart mobile-only"><span class="accessibility">Close Cart</span></button>
    <h2 class="eyebrow small flex-container"><span>Cart</span><span>{{getTotalAddedServiceCount}} Service Added</span></h2>

    <span *ngIf="!cart?.selectedItems?.length" class="heading-6 small empty-cart">Your cart is empty</span>
    
    <ul class="small">
        <li *ngIf="cart?.selectedItems?.length">
            <ul class="small" *ngFor="let service of cart?.selectedItems | orderCartItems">
            <li class="flex-container">
                <span *ngIf="cart.guests" class="user">{{service.guest ? service?.guest?.label : 'Me'}} <span class="counter gray">{{service.selectedOptions?.length + 1}}</span></span>
            
                <span class="item-info">
                    <strong>{{service.item.name}}</strong>
                    <span *ngIf="sharedService.getServiceCategoryName(service, cart.availableCategories) != '' " class="pill">{{sharedService.getServiceCategoryName(service, cart.availableCategories)}}</span>
                </span>
                
                <span class="cost">
                    {{sharedService.formatPrice(getServicePrice(service)) | currency:'USD':'symbol' : '1.0-0'}}
                    <button *ngIf="router.url == '/booking/services'" (click)="removeItem(service)" class="remove-service"><span class="accessibility">Remove Service</span></button>
                </span>

            </li>
            <li class="flex-container add-on" *ngFor="let modifier of service.selectedOptions">
                <span class="item-info">
                    <strong>{{modifier?.name}}</strong>
                    <span class="pill fill small">Add On</span>
                </span>
                
                <span class="cost">
                    {{sharedService.formatPrice(modifier.priceDelta) | currency:'USD':'symbol' : '1.0-0'}}
                    <button class="remove-service" (click)="removeModifier(modifier, service.guestId)"><span class="accessibility">Remove Addon</span></button>
                </span>
            </li>
            <!-- <li class="add-on-item" *ngIf="cart?.selectedItems?.length">
                <ul class="small">
                    <li class="flex-container add-on" *ngFor="let modifier of cart?.selectedItems[0]?.selectedOptions">
                        <span class="item-info">
                            <strong>{{modifier?.name}}</strong>
                            <span class="pill fill small">Add On</span>
                        </span>
                        
                        <span class="cost">
                            {{sharedService.formatPrice(modifier.priceDelta) | currency:'USD':'symbol' : '1.0-0'}}
                            <button class="remove-service" (click)="removeModifier(modifier, 'me')"><span class="accessibility">Remove Addon</span></button>
                        </span>
                    </li>
                </ul>
            </li> -->
            
            <li *ngIf="cart.guest"><span class="user empty-cart-guest">Guest 1 <span class="counter gray">0</span></span></li>
            <!-- <li><span class="user empty-cart-guest">Guest 2 <span class="counter gray">0</span></span></li> -->
        </ul>

        <button class="btn black" routerLink="/booking/services" *ngIf="router.url != '/booking/services'">Add More Services</button>

        </li>

        <!-- <div class="flex-container cart-total" *ngIf="cart?.selectedItems?.length">
            <span class="eyebrow small">Total</span>
            <p class="small">{{sharedService.formatPrice(this.cart?.summary?.total) | currency:'USD':'symbol' : '1.0-0'}}</p>
        </div> -->
        
        <li class="flex-container">
            <span class="pill location">Location</span>
            <span>
                <strong>{{cart?.location?.address?.city}} - {{cart?.location?.name}}</strong>
                <address>{{cart?.location?.address?.line1}}</address>
                <a *ngIf="cart?.location?.phoneNumber" href="tel:{{cart?.location?.phoneNumber}}">{{cart?.location?.phoneNumber}}</a>
            </span>
            
            <span class="cost">
                <button class="edit-location"><span class="accessibility">Edit Location</span></button>
            </span>
            <!-- <span>
                <span *ngIf="cart?.startTime" class="pill">{{cart?.startTime | date:'EEEE, MMMM d @ h:mm a'}}</span>
                <span *ngIf="getSelectedStaffVariant()" class="pill">Esthetician: {{getSelectedStaffVariant()}}</span>
                <strong>{{cart?.location?.address?.city}} - {{cart?.location?.name}}</strong>
                <address>{{cart?.location?.address?.line1}}</address>
                <a *ngIf="cart?.location?.phoneNumber" href="tel:{{cart?.location?.phoneNumber}}">{{cart?.location?.phoneNumber}}</a>
            </span> -->
        </li>
    </ul>

    <div class="flex-container cart-total" *ngIf="cart?.selectedItems?.length">
        <span class="eyebrow small">Total</span>
        <p class="small">{{sharedService.formatPrice(this.cart?.summary?.total) | currency:'USD':'symbol' : '1.0-0'}}</p>
    </div>

    <ul class="xx-small cart-details">
        <li *ngIf="cart?.startTime" class="time">{{cart?.startTime | date:'EEEE, MMMM d @ h:mm a'}}</li>
        <li *ngIf="getSelectedStaffVariant()" class="person">Esthetician: {{getSelectedStaffVariant()}}</li>
        <li class="location">{{cart?.location?.address?.city}} - {{cart?.location?.name}}</li>
    </ul>
    
</div>
	
<!-- <a class="btn inactive" href="#">Add to Continue</a> -->

<!-- <button class="btn black view-cart mobile-only">View Cart<span class="item-count">{{getTotalAddedServiceCount}}</span></button> -->