<ul class="grid ctas">
    <li>
        <h3 class="heading-6 small">
            <span class="eyebrow small">Refer a Friend</span>
            Start spreading the news and receive credit toward a service.
        </h3>
        
        <a class="btn-primary" href="#">Refer a friend</a>
    </li>
    
    <li>
        <h3 class="heading-6 small">
            <span class="eyebrow small">ASK AIDA</span>
            Tell us your skincare dreams and we'll show you where to glow.
        </h3>
        
        <a class="btn-primary" href="#">Take the quiz</a>
    </li>

    <li>
        <h3 class="heading-6 small">
            <span class="eyebrow small">Skin School</span>
            Learn about pre-facial etiquette, scalpel skincare, and how to spot cellular stress.
        </h3>
        
        <a class="btn-primary" href="#">Learn More</a>
    </li>
</ul>