<app-dashboard-header></app-dashboard-header>

<section class="client-portal appointments">
	<div class="container grid">
		
		<!--Sidebar-->
		<ul class="small portal-links">
            <li class="active"><a href="appointments.php">My Appointments</a></li>
            <li><a href="membership.php">Silver Mirror Membership</a></li>
            <li><a href="purchases.php">Purchases</a></li>
            <li><a href="account.php">Account Information</a></li>
        </ul>

		<app-account></app-account>
        
		
		<!-- Appointments Section -->
		<!--Content-->
		<!-- <div class="content">
			<h1 class="heading-4">Welcome back, Tamara!</h1>
			
			<h2 class="eyebrow">Upcoming Appointments</h2>
			
			<ul class="appointment-list">
				<app-appointment *ngFor="let appt of dashboardService.$myAppointments | async | upcomingappointments" [appointment]="appt?.node"></app-appointment>
			</ul>
			
			<h2 class="eyebrow">Past Appointments</h2>
			
			<app-appointment *ngFor="let appt of dashboardService.$myAppointments | async | pastappointments" [appointment]="appt?.node"></app-appointment>
		</div> -->
		
	</div>
</section>