<app-header title="Book an Appointment"></app-header>

<section class="services-flow has-guests">
	<div class="container grid">
		
		<!--Breadcrumbs-->
        <app-breadcrumbs class="breadcrumbs-container"></app-breadcrumbs>

		<div class="content-container">
			
			<!--Services Tabs-->
			<!-- <?php include('includes/services/services-tabs.php'); ?> -->
            <!-- <app-services-tabs class="desktop-only" [reset]="resetServiceTabs" [isAddonEnable]="cart?.selectedItems?.length" (changeTabEvent)="changeServiceTab($event)"></app-services-tabs> -->
			
			<div class="guest-different-services" *ngIf="cart?.guests?.length">
				<input [checked]="true" id="guest-different" type="checkbox"/>
				<label for="guest-different">My guests want different services</label>
			</div>
			
			<!--Guest Tabs-->
			<!-- <?php include('includes/schedule/guest-tabs.php'); ?> -->
            <app-guest-tabs *ngIf="cart?.guests?.length" [serviceCount]="getMemberAddedServiceCount" [guests]="cart.guests" (changeTabEvent)="changeGuestTab($event)"></app-guest-tabs>
						
			<!--Mobile Tabs/Filters-->
			<app-services-tabs [reset]="resetServiceTabs" [isAddonEnable]="cart?.selectedItems?.length" (changeTabEvent)="changeServiceTab($event)"></app-services-tabs>
			
			<!--Time Filters-->
			<!-- <?php include('includes/services/time-filters.php'); ?> -->
            <app-time-filters [reset]="resetTimeTabs" *ngIf="tabs.service.toLowerCase().includes('facial')" (changeTabEvent)="changeTimeFilterTab($event)"></app-time-filters>

			<!-- <?php include('includes/services/mobile-services-tabs.php'); ?> -->
			<p *ngIf="tabs.service == 'Facials 50 Minutes'" class="xx-small info">All 50-minute facials are interchangable and customizable. Work with your esthetician to discuss options.</p>
			
			<!--Services List-->
			<!-- <?php include('includes/services/services-list.php'); ?> -->
            <app-services-list *ngIf="cart?.availableCategories?.length && tabs.service != 'addon'" [client]="tabs.guest" [services]="cart.availableCategories | filterService:tabs.service:tabs.guest" (addServiceEvent)="addService($event)"></app-services-list>
			<app-addons-list *ngIf="tabs.service == 'addon'" [client]="tabs.guest" [cart]="cart"></app-addons-list>
		</div>
		
		<!--Sidebar-->
		<!-- <?php include('includes/services/sidebar-guests-empty.php'); ?> -->
        <aside *ngIf="cart" [ngClass]="bookingService.mobileCartView ? 'active' : '' " [ngClass] = "!cart?.selectedItems?.length ? 'empty':'' ">
            <app-cart [cart]="cart" (onItemRemoveEvent)="itemRemovedFromCart()"></app-cart>
			<span (click)="continue()"><a class="btn active">Continue</a></span>
			<button (click)="bookingService.mobileCartView = true" class="btn black view-cart mobile-only">View Cart<span class="item-count">{{0}}</span></button>
        </aside>
		
	</div>
</section>

<!-- <app-footer></app-footer> -->