<app-header></app-header>

<section class="congrats">
	<div class="container">
		
		<h2 class="heading-3">Your face is in good hands. <span>(Or it will be shortly.) See you soon!</span></h2>
		
		<ul class="grid details">
		
			<!--Services Info-->
			
			<li>
				<h3 class="eyebrow small">Services</h3>
				
				<div class="cart-info">
					<ul class="small">
						<li class="flex-container">
							<span class="user">Me <span class="counter gray">2</span></span>
							<span>
								<strong>Party-Prep Facial</strong>
								<span class="pill">30-min</span>
							</span>
							
							<span class="cost">$85</span>
						</li>
						
						<li class="flex-container add-on">
							<span>
								<strong>Dermaplanning</strong>
								<span class="pill fill small">Add On</span>
							</span>
							
							<span class="cost">$85</span>
						</li>
						
						<li class="flex-container">
							<span class="user">Guest 1 <span class="counter gray">1</span></span>
							<span>
								<strong>Just For Men Facial</strong>
								<span class="pill">60-min</span>
							</span>
							
							<span class="cost">$185</span>
						</li>
					</ul>
					
					<div class="flex-container cart-total">
						<span class="eyebrow small">Total</span>
						<p class="small">$255</p>
					</div>
				</div>
			</li>
		
			<!--Details-->
		
			<li>
				<h3 class="eyebrow small">Details</h3>
				
				<div class="cart-info">
					<ul class="x-small cart-details">
						<li>Sunday, September 18 @ 4:15 PM</li>
						<li>Esthetician: Veronica G.</li>
						
						<li>
							NYC - Flatiron
							<address>20 W 22nd St</address>
							<a href="tel:212-702-8742">(212) 702-8742</a>
						</li>
					</ul>
					
					<ul class="actions">
						<li><a class="btn small black" href="#">Add to Cal</a></li>
						<li><a class="btn small black" href="#">Share</a></li>
					</ul>
				</div>
			</li>
		</ul>
		
		<!--CTAs-->
		
		<ul class="grid ctas">
			<li>
				<h3 class="heading-6 small">
					<span class="eyebrow small">Refer a Friend</span>
					Start spreading the news and receive credit toward a service.
				</h3>
				
				<a class="btn-primary" href="#">Refer a friend</a>
			</li>
			
			<li>
				<h3 class="heading-6 small">
					<span class="eyebrow small">ASK AIDA</span>
					Tell us your skincare dreams and we'll show you where to glow.
				</h3>
				
				<a class="btn-primary" href="#">Take the quiz</a>
			</li>

			<li>
				<h3 class="heading-6 small">
					<span class="eyebrow small">Skin School</span>
					Learn about pre-facial etiquette, scalpel skincare, and how to spot cellular stress.
				</h3>
				
				<a class="btn-primary" href="#">Learn More</a>
			</li>
		</ul>
		
	</div>
</section>
<app-footer></app-footer>