<app-header></app-header>

<main id="main">
<section class="login create-account">
    <div class="container flex-container">

        <article class="grid">
            <h1 class="heading-4">Login or Create an Account to Check Availability</h1>

            <form action="" class="create-account-form">
                <input type="email" id="email" name="email" placeholder="Email Address">
                <input type="text" id="first-name" name="first-name" placeholder="First Name">
                <input type="text" id="last-name" name="last-name" placeholder="Last Name">
                <input type="tel" id="phone-number" name="phone-number" placeholder="Phone Number">
                <div class="subscription-checkbox">
                    <input type="checkbox" id="email-subscription" name="email-subscription" value="yes">
                    <label for="email-subscription">Join Our Email List</label>
                </div>
                <input disabled class="btn" type="submit" value="Continue">
            </form>
        </article>

        <div class="grid">
            <p class="xx-small">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="#">privacy policy</a>.</p>
        </div>

    </div>
</section>
</main>
<app-footer></app-footer>